@font-face 
{ /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Raleway_light';
    src: url('css/static/Raleway-Light.ttf');
}

.Raleway-Light
{
    font-family: "Raleway_light";
    
}
@font-face 
{ /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Raleway-Medium';
    src: url('css/static/Raleway-Medium.ttf');
}

.Raleway-Medium
{
    font-family: "Raleway-Medium";
    
}

ul {
    list-style-type: none;
    display:flex;
   
  }
.paragraphe1
{
    font-size: 0.9em;
    font-weight: bold;
}
.paragraphe2
  {
    font-size: 0.8em;
}

a:hover /* Apparence au survol des liens */
{
   color:black;
}
#icon
{
    color:black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 5px 0px 0px 5px;
 }
 #recherche
 {
    border-radius: 0px 5px 5px 0px;
 }
 #pseudo
 {
    border-radius: 0px 5px 5px 0px;
 }


.resultatRecherche 
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.infoIcon 
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.infoColor 
{
    color: #0065FC;
}

.resultatRechercheText 
{
    margin: 0;
}

.Btn 
{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.BtnTitle 
{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.BtnFilter 
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.BtnFilter:last-child 
{
    margin-right: 0;
}

.BtnFilter:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}

.CercleIcon 
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.couleurIconBleu 
{
    color: blue;
}
.BtnFilterTitle 
{
    margin: 0 1rem;
}