@font-face
{ /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Raleway-light';
    src: url('static/Raleway-Light.ttf');
    font-style: swap;
}
.Raleway-Light
{
    font-family: "Raleway-light";

}
@font-face
{ /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Raleway-normal';
    src: url('Raleway-VariableFont_wght.ttf');
    font-style: swap;

}
.Raleway-normal
{
    font-family: "Raleway-normal";

}
@font-face
{ /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Raleway-bold';
    src: url('static/Raleway-Bold.ttf');
    font-style: swap;
}

.Raleway-bold
{
    font-family: "Raleway-bold";
}
/* Header */
#logo
{
  width:100px;
  margin-bottom: 15px;

}
.paragraphe
{
    margin-left: 8px;
}

nav ul
{
    list-style-type: none;
    display:flex;
    
   
}
nav  li {
    margin-right: 30px;
    
}
nav a
{
    text-decoration: none;
    font-family: "Raleway-normal";
    
  }
  nav a:hover /* Apparence au survol des liens */
{
   color:black;
   text-decoration: none;
}
   #a1
{
    border-top: 3px blue solid;
    padding-top: 33px;
    padding-left:  10px;
    padding-right: 10px;
    font-size: 1.2em;
}
#a2
{
    color:black;
    font-size: 1.2em;
    padding-right: 10px;  
}
#a3
{
    font-size: 1.2em;
}
.paragraphe1
{ 
    font-family: "Raleway-bold";
    margin-left: 30px;
}
.paragraphe2
{
    font-size: 1.3em;
    font-family: "Raleway-light";
    margin-left: 30px;
}
@media all and (max-width: 767px)
{
    #a1 
    {
        position: absolute;
        top: 75px;
        left: 5px;   
        border-top: none;
        border-bottom: 2px blue solid;
        padding-bottom: 14px;
        padding-right: 10%;
        padding-left: 35px;
    }
    #a2
    {
      position: absolute;
      top: 105px;
      right: 12%;   
  }
  #a3
    {
      position: absolute;
        right: 2%;  
  }
  
  #bordure
  {
    border-bottom: 4px rgb(243, 243, 243) solid;
    margin-top: 40px;
  }
}

/* Section1:Les quatres boutons:économique, familial, romantique, animaux autorisés */
.form-inline
{
   margin-left: 25px;
   font-family: "Raleway-bold";
 }
#icon
{
    color:black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.3em;
 }
 #recherche
 {
    border-radius: 0px 10px 10px 0px;
    font-size: 1.3em;
 }
 #recherche1
 {
    display: none;
 }
 #pseudo
 {
    border-radius: 0px 1px 1px 0px;
    font-size: 1.3em;
 }
 .Btn
{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-left: 30px;
    font-family: "Raleway-bold";
}
.BtnTitle
{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.BtnFilter
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    height: 50px;

}
.BtnFilter:last-child
{
    margin-right: 0;
}

.BtnFilter:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}

.CercleIcon
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.couleurIconBleu
{
    color: blue;
}
.BtnFilterTitle
{
    margin: 0 1rem;
    font-size: 1.3em;
}

.resultatRecherche
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
    margin-left: 30px;
}
.infoIcon
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.infoColor
{
    color: #0065FC;
}

.resultatRechercheText
{
    margin: 0;
    font-family: "Raleway-light";
    font-size: 1.3em;
}
.resultatRechercheText1
{
  display: none;
}
 
@media all and (max-width: 767px)
{
  #pseudo
  {
   width: 55%;
}
#recherche
{
  display: none;
}
#recherche1
 {
    display: inline;
    height: 45px;
    width: 45px;
    border-radius: 0px 10px 10px 0px;  
 }
  .infoIcon
  {
    margin-bottom: 60px;
    margin-top: 10px;
  }
  .resultatRechercheText1
{
  display: inline;
  font-family: "Raleway-light";
  font-size: 1.3em;
}
.resultatRechercheText
{
  display: none;
}
.BtnTitle
  {
  padding-right: 500px;
}
}

/* Section: article(Hébergements à Marseille) */
.block
{
    display: flex;
}
article
{
    flex:2.5;
    background-color:#E3EAEF;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display:flex;
    margin-top: 0;
}

aside
{
    flex: 1;
    position: relative;
    background-color:#E3EAEF;
    border-radius: 20px;
   margin-right: 2%;
    display: flex;
}
.paragrapheimage
{
    text-align:left;
    margin-left: 10px;
    padding-left: 8px;
    font-family: "Raleway-normal";
    margin-top: 10px;   
    font-size: 85%;
}

.boutonimage
{
    display: flex;
    text-align: center;
    list-style-type: none;
    padding-left: 30px;
    
}
#lienhebergement1, #lienhebergement2, #lienhebergement3, #lienhebergement4
{
  text-decoration: none;
  color: black;
}
#lienhebergement5, #lienhebergement6, #lienhebergement7, #lienhebergement8, #lienhebergement9
  
{
  text-decoration: none;
  color: black;
}

.boutonimage1
{
   width: 100%;
    margin-right:25px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 8px 7px 8px  lightgray;
}

.boutonimage1:hover
{
    background-color: white;
    transform: scale(1.015);
}
.image1
{
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
    height: 120px;
    object-fit: cover;
    width: 96%;
}
#home
{
    margin-left:40px;
    padding-bottom: 20px;
    font-family: "Raleway-bold";
    margin-top: 30px;
}

#affichage
{
    margin-left: 50px;
    font-family: "Raleway-bold";
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 1em;
    text-decoration: none;
    color: black;
}
/* Section: aside(Les plus populaires) */
#titre
{
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    font-family: "Raleway-bold";    
}
    #icone2
{
   position: absolute;
   right: 6%;
   top: 35px;
}

.boutonimage_
{
  list-style-type: none;
}
.boutonimage2
{
    width: 90%;
    height: 155px;
    margin-left:5%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-family: "Raleway-normal";
    box-shadow: 8px 7px 8px  lightgray;
    
}
.boutonimage2:hover
{ 
  background-color:white;
  transform: scale(1.015);
}
#image2, #image2_, #image2-
{ 
  float: left;
  border-radius: 20px 0px 0px 20px;
  margin: 8px 8px 8px 8px;
  height: 138px;
  object-fit: cover;
  width: 40%;
}

.paragrapheimage2
{ 
 padding-top: 15px;
 text-align: left;
 line-height: 1.5em;
 font-size: 85%;
}

.checked
 { 
  color:  #0065FC;
 }

.unchecked
{
 color: #d9d9d9;
 }

 .checked2
  {
  color: #0065FC;
  margin-top: 20px;
  }
  .unchecked2
  {
   color: #d9d9d9;
   margin-top: 20px;
  }
@media all and (max-width: 767px)
{
.block
{
  display: flex;
  flex-direction: column-reverse;
}
.boutonimage
{
  display: flex;
  flex-direction: column;
}
article
{
 background-color: transparent;
position: relative ;
right: 4%;
}
.boutonimage2
{
  width: 90%;
 }
 .boutonimage1
{
 width: 100%;
 box-shadow: 8px 7px 8px  lightgray, -8px 7px 8px  lightgray;
 }
 aside
 {
   width: 92%;
   margin-left: 4%;
   border-radius: 0px;
  }
  
}

  /* Section2: Activité à Marseille */
  #menu1
{
  margin-left:3%;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Raleway-bold";
}
  #lesboutonsactivites
  {
   display: flex;
   position: relative;
   right: 6px;
   list-style-type: none;
   width: 100%;
  }

  .lespetitsboutons
{
   display: flex;
   flex-direction: column;
}
  #image3, #image3_
  {
  height: 540px;
  width: 100%;
  object-fit: cover;
  box-shadow: 8px 0px 10px  lightgray,-8px 0px 10px  lightgray ;
  border-radius: 20px 20px 0px 0px;
}

#image5, #image7
{
  height: 270px;
  width: 100%;
  object-fit: cover;
  box-shadow: 8px 0px 10px  lightgray,-8px 0px 10px  lightgray;
  border-radius: 20px 20px 0px 0px;
}
.boutonimage5
{
  margin-bottom: 35px;
}
#image7
{
  margin-top: 35px;
  border-radius: 20px 20px 0px 0px;
}

#image4, #image6
{
  height: 150px;
  width: 100%;
  object-fit: cover;
  box-shadow: 8px 0px 10px  lightgray,-8px 0px 10px  lightgray;
  border-radius: 20px 20px 0px 0px;
}

.boutonimage3, .lespetitsboutons, .boutonimage8
{
  width: 20.89%;
  margin-right: 4%;
}
.boutonimage3
{
 margin-left: 2.5%;
}

.lespetitsboutons:last-child
{
    margin-right: 0;
}

.boutonimage3:hover, .boutonimage4:hover, .boutonimage5:hover, .boutonimage6:hover, .boutonimage7:hover, .boutonimage8:hover
{
  background-color: transparent;
  transform: scale(1.015);
}
#lienactivite1, #lienactivite2, #lienactivite3, #lienactivite4, #lienactivite5, #lienactivite6
{
  text-decoration: none;
  color: black;
}
.paragrapheimage3
{
  text-align:left;
  border-radius: 0px 0px 20px 20px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  font-family: "Raleway-bold";
  text-decoration: none;
  color: black;
  font-size: 100%;
  width: 100%;
  box-shadow: 8px 7px 10px lightgray, -8px 7px 10px  lightgray;
}
@media all and (max-width: 767px)
{
  #menu1
  {
    margin-left:8%;
   
  }
  
  #lesboutonsactivites
{
  display: flex;
  flex-direction: column;
  
}
.boutonimage3, .lespetitsboutons, .boutonimage8
{
  width: 85%;
  text-align: justify;
  
}
#image3, #image3_, #image5, #image7, #image4, #image6
{
  height: 200px;
}

.boutonimage3
{
  margin-bottom: 20px;
  position: relative;
  left: 6%;
}
.boutonimage4, .boutonimage5,  .boutonimage6
{
  margin-bottom: 20px;
  position: relative;
  left: 9%;
} 
.boutonimage7
{
  position: relative;
  left: 9%;
  bottom: 30px;
}
.boutonimage8
{
  margin-bottom: 20px;
  position: relative;
  left: 7.5%;
  
}
}
/* Footer */
.footer
{
  display: flex;
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color:#F2F2F2;
}
footer ul
 {
  font-family: "Raleway-normal";
  list-style-type: none;
  }
  #lienfooter1, #lienfooter2, #lienfooter3, #lienfooter4, #lienfooter5, #lienfooter6, #lienfooter7
  {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 1.1em;
}
#footer1h5, #footer2h5, #footer3h5
{
   margin-left: 38px;
   font-family: "Raleway-bold";
   margin-bottom: 25px;
   font-size: 1.1em;
 }
 #Apropos
 {
   line-height: 2em;
 }
  #noshebergements
 {
   position: relative;
   left: 15%;
   line-height: 2em;
 }
 #Asistance
 {
   position: relative;
   left: 30%;
   line-height: 2em;
 }
 @media all and (max-width: 767px)
{
  .footer
{
  display: flex;
  flex-direction: column;
}
#noshebergements
{
  position:relative;
  left: 0px; 
}
#Asistance
 {
   position: relative;
   left: 0px; 
 }
}
@media all and (min-width: 767px) and (max-width: 991px)
{ 
.block
 {
 display: block; 
}
aside
{
 width: 95.5%;
 position: relative;
 left: 20px;
 height: 650px;
 }
.boutonimage2
{ 
 width: 90%;
 
 }
 #icone2
 {
    position: absolute;
    right: 75px;
    top: 25px;
 }
 #home
{ 
 padding-top: 20px;
 }
 #titre
{ 
 padding-top: 20px;
 padding-left: 30px;
 }
 #menu1
 {
   margin-left:4%;
 }
.boutonimage3
{
 margin-left: 35px;
}
.boutonimage3, .lespetitsboutons, .boutonimage8
{
 margin-right: 3.5%;
}
#noshebergements
{ 
 position:relative;
 left: 0.5%; 
}
#Asistance
 { 
 position: relative;
 left: 4%;
 }
}

@media all and (max-width: 375px)
{
  #a1 
  {
   padding-left: 15px;
  }
  #a2
  {
  position: absolute;
  top: 108px;    
}
.paragraphe1
{  
font-size: 1.5em;
}
.paragraphe2
{
    
font-size: 1.2em;
}
  .paragrapheimage
{ 
font-size: 65%;
 
}
.paragrapheimage2
{ 
font-size: 65%;
 
}
.resultatRechercheText1
{ 
  font-size: 1.2em; 
  }
  #home, #titre, #menu
  { 
    font-size: 1.2em; 
    }
}